.k1 {
	--mainFont: "Open Sans", sans-serif;
	--secFont: "PT Serif", sans-serif;
	--robotoFont: "Roboto", sans-serif;
}

$accentColor: #F9B640;

$mediaS					 : 375px;
$mediaM					 : 480px;
$mediaL					 : 768px;
$mediaXL				 : 920px;
$mediaXXL				 : 1024px;
$mediaXXXL			 : 1366px;