<form action="/CreatePhotos" method="POST" enctype="multipart/form-data">
<h2>Добавление фотографий</h2>

    <div>
         
        <input type="file" name="PHOTO" accept="image/*" /> <br><br>

    </div>
<button type="submit" class="btn">Добавить</button>
</form>