<form action="/CreateNews" method="POST" enctype="multipart/form-data">
<h2>Создание новостей</h2>

    <div>
        <div class="input-field">
            <input type="text" name="Header" placeholder="Заголовок">
        </div>

        <div class="input-field">
            <input type="text" name="textOfNews" placeholder="Текст новсти">
        </div>
         
        <input type="file" name="filedata" accept="image/*" /> <br><br>

    </div>
<button type="submit" class="btn">Создать</button>
</form>

